
  @import url('https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong');

body{
  /* background-color: #144560; */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(234,169,26,1) 60%, rgba(17,12,4,0.8796181558560925) 100%);
}
.card{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
  width: 300px;
  border-radius: 5px;
  /* height: 400px; */
  box-sizing: border-box;
  overflow: hidden;
  background-color:white;
  margin: 1rem;
  position: relative;
  color:black;
}
.container{
  margin: auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card img{
  width: 300px;
  height: 150px;
}
.card a{
  color: black;
}
.title{
  color: rgb(5, 6, 6);
  font-size:medium;
}
.desp{
  color:rgb(9, 8, 8);
  font-size: smaller;

}
.nav{
  height: 50px;
  background-color: rgb(12, 12, 12);
 text-align: center;
 color: rgb(246, 243, 243);
 font-size:25px;
}
.aut{
  font-size: small;
  font-weight: 500;
}
.author{
  font-size: small;
  font-weight: 400;
}
